<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, maxime. Consequuntur aperiam non voluptatibus quae, explicabo illum autem, dolor repellat voluptas error, dolore quasi nesciunt? Voluptas quia eligendi voluptatum dolorem!</p>
    </div>
</div>